/*fonts imported from google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');


body{
    margin:0;
}

/* ----- Header ------*/

header{
    background-color: #42BAFF;
    margin-bottom: .5%;
}

header h1{
	font-size: 50px;
	font-family: monoton;
	color: white;
	text-align: center;
	margin: 0;
}

header nav{
    display: flex;
    justify-content: center;
}

header nav ul{
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    display: flex;
    padding-left: 0;
    list-style: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    margin: 0 20px 0 0;


}

header nav ul li :last-child a{
    margin-right: 0;

}

/*---------- main fonts ------------*/

main h2{
    font-size: 30px;
    font-family: 'montserrat', sans-serif;
    }
    
main h3{
    font-size: 20;
    font-family: 'montserrat', sans-serif;
}

main p{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    }

/*--------- list fonts --------*/
    
main ul li{
    font-size: 18px ;
    font-family: 'Exo 2', sans-serif;
}

main ol li{
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    list-style: none;
}

.imgsize{
    width: 100%;
}
.languages{
    display: flex;
    justify-content: space-evenly;
} 
   
.languages img{
    max-height: 100px; 
}


.about{
    margin: 5%;
}

.contact{
    width: 100%;
    background-color: #42BAFF;
    color: white;
    text-align: center;
    height: 100%;
}



 

@media all and (min-width:600px) {

    header{
        display: flex;
        justify-content: space-between;
        padding: 0;

    }
	header h1{
        margin: 14px;
        padding-top: 0;
    }
    
	header nav{
        margin: 25px;
	}
	
	header nav ul li a:hover{

        color: #4D6966;
    }
    
    header nav ul li :last-child a{
        margin-left: 25px;
    }
    
    .item1{
        flex: 1;
        
        
    }

    .item2 {
        flex: 2;
        margin-left: 5%;  
        width: 100%;
        min-width: 200px;
        max-height: 400px;
        overflow: scroll;
        
    }
 




    .about{
        display: flex;
        align-items:center ;
        
    } 

    .intro{
        margin: 2% 30% 2% 30%;
    }

    .contact{
        width: 100%;
        background-color: #42BAFF;
        color: white;
    }
       
    
}    