@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

html { 
	font-family: 'Josefin Sans', sans-serif;
 	background: rgb(233,170,113);
	background: linear-gradient(0deg, rgba(233,170,113,0.43881302521008403) 0%, rgba(115,207,255,1) 100%);
 	}
 	
main{
	padding: 50px;
	margin: 50px;
	background-color: white;
	border-radius: 90px;
	
	}

.profilepic{
	width: 40%;
  	float: right;
  	border-radius: 90px;
    padding: 25px
	}

.center{
  	text-align: center;
	}

header{
	color: white; 
	font-family: 'Monoton', cursive;
	margin: 0px 0px 0px 50px;
	}
footer{
	color: white; 
}
h1{
	font-size: 75px;
	}

h2{
	font-size: 40px;
	}

p{
	font-size: 20px;
	}
